body {
	font-family: 'Roboto', sans-serif;
}
div {
    border: 1px solid black;
	height:100px;
}
footer{
    border: 2px solid black;
	height:100px;
}
#nav{
    //min-height: 10em;
    //display: table-cell;
    vertical-align: middle
}
#middle{
	background-color:grey;;
	}
li{
	display:inline;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}

#logo{
	height:50px;
	width:50px;
	display:block;
	margin-left: 25%;
	margin-right:75%;
	
}